@model BulkyBook.Models.ViewModels.ProductVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = Model.Product.Id == 0 ? "Create Product" : "Edit Product";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        @if (Model.Product.Id != 0)
        {
            <input type="hidden" asp-for="Product.Id" />
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 pt-4" style="margin: 0 auto">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.Title"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Product.ISBN"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.Author"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Product.ListPrice"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Product.Price50"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.Price100"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Product.CategoryId">Category</label>
                    @Html.DropDownListFor(m => m.Product.CategoryId, Model.CategoryList, "--Select a Category", new { @class = "form-control" })
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.CoverTypeId">Cover Type</label>
                    @Html.DropDownListFor(m => m.Product.CoverTypeId, Model.CoverTypeList, "--Select a Cover Type", new { @class = "form-control" })
                    <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="uploadBox">Image</label>
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                </div>
                @if (Model.Product.Id != 0)
                {
                    <div class="form-group col-md-6" style="text-align:center">
                        <img src="@Model.Product.ImageUrl" style="border-radius: 5px; width: 140px"/>
                    </div>
                }
               
            </div>
           
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Product.Id != 0)
                    {
                        <partial name="_SaveAndBackToListButton" model="Model.Product.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>

                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://cdn.tiny.cloud/1/x44h5wlpje9o2mktczebx4qdfvf0c49p3fmlb9qtolhhug62/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });

        function validateInput() {
            if ($('#uploadBox').value === "") {
                swal('Error', 'Please select an image', 'error');
                return false;
            }
            return true;
        }
    </script>
}
